@model List<Mission08_Team0104.Models.ToDoTask>
@* @{ *@
@*     Layout = null; *@
@* } *@

<div class="container text-center">
    <h3>Stephen Covey's Time Management Matrix</h3>

    <div class="row fw-bold">
        <div class="col-2"></div>
        <div class="col-5">Urgent</div>
        <div class="col-5">Not Urgent</div>
    </div>

    <div class="row">
        <div class="col-2 fw-bold">Important</div>
        <div class="col-5 border p-3">
            <h4>Quadrant 1</h4>
            @foreach (var x in Model.Where(x => x.Quandrant == "I"))
            {
                <div class="mb-2">
                    <p><strong>@x.TaskInfo</strong></p>
                    <p>Due: @x.DueDate</p>
                    <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                </div>
            }
        </div>
        <div class="col-5 border p-3">
            <h4>Quadrant 2</h4>
            @foreach (var x in Model.Where(x => x.Quandrant == "II"))
            {
                <div class="mb-2">
                    <p><strong>@x.TaskInfo</strong></p>
                    <p>Due: @x.DueDate</p>
                    <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-2 fw-bold">Not Important</div>
        <div class="col-5 border p-3">
            <h4>Quadrant 3</h4>
            @foreach (var x in Model.Where(x => x.Quandrant == "III"))
            {
                <div class="mb-2">
                    <p><strong>@x.TaskInfo</strong></p>
                    <p>Due: @x.DueDate</p>
                    <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                </div>
            }
        </div>
        <div class="col-5 border p-3">
            <h4>Quadrant 4</h4>
            @foreach (var x in Model.Where(x => x.Quandrant == "IV"))
            {
                <div class="mb-2">
                    <p><strong>@x.TaskInfo</strong></p>
                    <p>Due: @x.DueDate</p>
                    <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                </div>
            }
        </div>
    </div>
</div>
